@import url('https://fonts.googleapis.com/css?family=Inconsolata|Tenali+Ramakrishna');
@import 'reset';
$font-fancy: 'Tenali Ramakrishna', sans-serif;
$font-normal: 'Inconsolata', monospace;

/***
Coloors
***/
$white: #FCFCFC;
$dark-purple: #190019;
$base-red: #FF3D3C;
$base-purple: #810080;
$min-width: 720px;