@import 'grid';
//TODO add responsive font-sizes

$max-cols: 12;
.g-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.g-item {
  padding: .5rem;
}

@each $key, $value in $breakpoints {
  @for $i from 1 through $max-cols {
    .grid--#{$key}-cols-#{$i} {
      flex: 0 0 100%;
      @include breakpoint($key) {
        flex: 0 0 #{$i / $max-cols * 100%};
      }
    }
  }
}