@import 'config';
@import 'mixins';
@import 'layout';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: {
    size: 1.6rem;
    family: $font-normal;
  }
  color: $dark-purple;
  background-color: $white;
  z-index: 0;
}

section, footer, header, main {
  display: block;
}

#main-content {
  z-index: 1;
  width: 100%;
  background-color: $white;
  @include material-shadow(1);
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-fancy;
  padding: 0.5em 0;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.125em;
}

a {
  text-decoration: none;
  color: $dark-purple;
  &:hover {
    text-decoration: underline;
    color: darken($base-purple, 10%);
  }
}

/***
Search box
***/

.search-panel {
  margin-top: 2em;
}

.search-nav {
  position: relative;
  width: 100%;
  padding-bottom: 50px;

  #s-box {
    width: 100%;

    #s-box--input {
      width: 100%;
      background-color: $white;
      border: none;
      border-bottom: 2px solid lighten(gray ,40%);
      font-size: 1.125em;
      padding: .8em .4em;

      &:focus {
        border:none;
        outline: none;
        border-bottom: 2px solid lighten($base-red, 30%);
      }
    }

    i {
      font-size: 2em;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5em 0;
    }
  }
}

.card {
  width: 100%;
  margin: .5em 0;
  background-color: #FFF;
  border-left: 5px solid $base-red;

  .card-header {
    display: inline-block;
    background-color: $white;
    border-bottom: 1px solid lighten(gray, 40%);
    padding-left: .4em;
    width: 100%;
    height: 2.4em;
    line-height: 2.4em;
    font-size: 1.125em;
  }

  .card-body {
    font-size: 1em;
    padding: 1.125em;
    margin: 0;
  }

  @include breakpoint(M) {
    @include material-shadow(1);
  }
}

.results {
  position: relative;
  background-color: $white;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.logo {
  position: relative;
  margin-top: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: 70px;
  text-align: center;

  h5 {
    display: none;
  }

  @include breakpoint(M) {
    display: block;
    margin: 0;
    padding: 2em;

    h5 {
      display: block;
    }
  }
}

//button
.btn--group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;

  .btn {
    display: inline-block;
    font-size: 1.125em;
    border-bottom: 2px solid lighten($base-red, 30%);
    text-decoration: none;
    padding: .8em 1em;
    text-align: center;
    border-radius: 2px;
    margin: 4px 2px;
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid lighten($base-red, 20%);
    }

    &:active {
      border-bottom: 2px solid $base-red;
    }
  }
}

#clear {
  cursor: pointer;
}

/***
Footer
**/

//TODO: make it responsive, FFS...
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: $white;
  color: $dark-purple;
  z-index: -2;

  h2 {
    text-transform: uppercase;
  }

  h3 {
    padding: 2% 0;
  }

  #still {
    position: fixed;
    text-align: center;
    height: 4em;
    width: 100%;
    bottom: 0;
    line-height: 4em;
    background-color: $white;
    z-index: 0;

  }
}

.copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
}