@import url("https://fonts.googleapis.com/css?family=Inconsolata|Tenali+Ramakrishna");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***
Coloors
***/
/***
Shapes mixins
***/
/***
material design box-shadow
***/
.g-wrapper {
  display: flex;
  flex-flow: row wrap; }

.g-item {
  padding: .5rem; }

.grid--XS-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--XS-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--XS-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-3 {
      flex: 0 0 25%; } }

.grid--XS-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--XS-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--XS-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-6 {
      flex: 0 0 50%; } }

.grid--XS-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--XS-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--XS-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-9 {
      flex: 0 0 75%; } }

.grid--XS-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--XS-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--XS-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 32rem) {
    .grid--XS-cols-12 {
      flex: 0 0 100%; } }

.grid--S-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--S-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--S-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-3 {
      flex: 0 0 25%; } }

.grid--S-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--S-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--S-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-6 {
      flex: 0 0 50%; } }

.grid--S-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--S-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--S-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-9 {
      flex: 0 0 75%; } }

.grid--S-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--S-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--S-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-12 {
      flex: 0 0 100%; } }

.grid--M-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--M-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--M-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-3 {
      flex: 0 0 25%; } }

.grid--M-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--M-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--M-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-6 {
      flex: 0 0 50%; } }

.grid--M-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--M-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--M-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-9 {
      flex: 0 0 75%; } }

.grid--M-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--M-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--M-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-12 {
      flex: 0 0 100%; } }

.grid--L-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--L-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--L-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-3 {
      flex: 0 0 25%; } }

.grid--L-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--L-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--L-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-6 {
      flex: 0 0 50%; } }

.grid--L-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--L-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--L-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-9 {
      flex: 0 0 75%; } }

.grid--L-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--L-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--L-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-12 {
      flex: 0 0 100%; } }

.grid--XL-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--XL-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--XL-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-3 {
      flex: 0 0 25%; } }

.grid--XL-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--XL-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--XL-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-6 {
      flex: 0 0 50%; } }

.grid--XL-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--XL-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--XL-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-9 {
      flex: 0 0 75%; } }

.grid--XL-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--XL-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--XL-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-12 {
      flex: 0 0 100%; } }

.grid--XX-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--XX-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--XX-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-3 {
      flex: 0 0 25%; } }

.grid--XX-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--XX-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--XX-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-6 {
      flex: 0 0 50%; } }

.grid--XX-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--XX-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--XX-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-9 {
      flex: 0 0 75%; } }

.grid--XX-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--XX-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--XX-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-12 {
      flex: 0 0 100%; } }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Inconsolata", monospace;
  color: #190019;
  background-color: #FCFCFC;
  z-index: 0; }

section, footer, header, main {
  display: block; }

#main-content {
  z-index: 1;
  width: 100%;
  background-color: #FCFCFC;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Tenali Ramakrishna", sans-serif;
  padding: 0.5em 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.125em; }

a {
  text-decoration: none;
  color: #190019; }
  a:hover {
    text-decoration: underline;
    color: #4e004d; }

/***
Search box
***/
.search-panel {
  margin-top: 2em; }

.search-nav {
  position: relative;
  width: 100%;
  padding-bottom: 50px; }
  .search-nav #s-box {
    width: 100%; }
    .search-nav #s-box #s-box--input {
      width: 100%;
      background-color: #FCFCFC;
      border: none;
      border-bottom: 2px solid #e6e6e6;
      font-size: 1.125em;
      padding: .8em .4em; }
      .search-nav #s-box #s-box--input:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid #ffd5d5; }
    .search-nav #s-box i {
      font-size: 2em; }
    .search-nav #s-box span {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5em 0; }

.card {
  width: 100%;
  margin: .5em 0;
  background-color: #FFF;
  border-left: 5px solid #FF3D3C; }
  .card .card-header {
    display: inline-block;
    background-color: #FCFCFC;
    border-bottom: 1px solid #e6e6e6;
    padding-left: .4em;
    width: 100%;
    height: 2.4em;
    line-height: 2.4em;
    font-size: 1.125em; }
  .card .card-body {
    font-size: 1em;
    padding: 1.125em;
    margin: 0; }
  @media only screen and (min-width: 72rem) {
    .card {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); } }

.results {
  position: relative;
  background-color: #FCFCFC;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px; }

.logo {
  position: relative;
  margin-top: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: 70px;
  text-align: center; }
  .logo h5 {
    display: none; }
  @media only screen and (min-width: 72rem) {
    .logo {
      display: block;
      margin: 0;
      padding: 2em; }
      .logo h5 {
        display: block; } }

.btn--group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0; }
  .btn--group .btn {
    display: inline-block;
    font-size: 1.125em;
    border-bottom: 2px solid #ffd5d5;
    text-decoration: none;
    padding: .8em 1em;
    text-align: center;
    border-radius: 2px;
    margin: 4px 2px;
    cursor: pointer; }
    .btn--group .btn:hover {
      border-bottom: 2px solid #ffa2a2; }
    .btn--group .btn:active {
      border-bottom: 2px solid #FF3D3C; }

#clear {
  cursor: pointer; }

/***
Footer
**/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: #FCFCFC;
  color: #190019;
  z-index: -2; }
  footer h2 {
    text-transform: uppercase; }
  footer h3 {
    padding: 2% 0; }
  footer #still {
    position: fixed;
    text-align: center;
    height: 4em;
    width: 100%;
    bottom: 0;
    line-height: 4em;
    background-color: #FCFCFC;
    z-index: 0; }

.copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center; }
